#logo {
    max-height: 5rem;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: medium;
}

h5 {
    font-size: small;
}

#gtlo-header-link {
    font-size: xx-large;
    letter-spacing: 5px;
}

#homepage-signup-button {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.home p {
    margin-top: 2em;
    margin-bottom: 4em;
    margin-left: 2em;
    margin-right: 2em;
}