h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: medium;
}

h5 {
    font-size: small;
}

#gtlo-header-link {
    font-size: xx-large;
    font-weight: bold;
}