<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Get The Lead Out: Philadelphia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/css/bulma.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>

<body>

    <section class="section">
        <div class="container">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a id="gtlo-header-link" class="navbar-item has-text-primary" href="/"><img id="logo" alt="Get the Lead Out: Philadelphia" src="{{ "/assets/img/logo.jpg" | relative_url }}" /></a>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                        data-target="mainMenu">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div class="navbar-menu" id="mainMenu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="{{ "/" | relative_url }}">Home</a>
                        <a class="navbar-item" href="{{ "/about.html" | relative_url }}">About Us</a>
                        <a class="navbar-item" href="{{ "/whatdoido.html" | relative_url }}">What do I do?</a>

                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button">Donate</a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="field has-addons">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Search this site">
                                </div>
                                <div class="control">
                                    <a class="button">
                                        Search
                                    </a>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    <main class="section" aria-label="Content">
        <div class="container">
            {{ content }}
        </div>
    </main>

    <script src="{{ "/assets/js/burger.js" | relative_url }}"></script>
</body>

</html>